<!DOCTYPE  html>
<html lang="en">
<head>
    <title>Sample Webpage</title>
</head>
<body>
    <h1 style="text-align:center;color:red">SAMPLE HTML FILE Running on localhost, Port ::: 8080</h1>
    <h1>Today's Date : <span style="color: blue">{{ current_date }}</span></h1>
    <h1>Current Time : <span style="color: blue">{{ current_time }}</span></h1>
    <h1>System Kernel Release : <span style="color: blue">{{ kernel_release }}</span></h1>
    <h1>System Kernel Version : <span style="color: blue">{{ kernel_version }}</span></h1>
    <h1>::: Disk Usage Information :::</h1>
    <h3 style="color: blue">{{ disk_usage_info }}</h3>
</body>
</html>
